body {
  background-color: #F7F7F7;
}
 .navbar {
   background: grey;
   color: black;
   padding: 15px;
   font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", "sans serif";
   font-size: 25px;
   font-style: normal;
   font-variant: normal;
   font-weight: 500;
   line-height: 26.4px;
 }
  .navbar .actions a {
    text-decoration: none;
    margin: 5px;
    color: black;
  }

  a:link {
    color: #2E2F30;
  }
.actions {
   float: right;
}

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @user box_sizing;

}

input {
  height: auto;
  width: 200px;
  text-align: left;
  display: block;
}

 .checkbox {
   margin-top: -10px;
   margin-bottom: 10px;
   span {
     font-weight: normal;
   }
 }

 #session_remember_me {
   width: auto;
   margin-left: 0;
 }

 .image-metadata{
   text-align: center;
 }

.image-metadata input {
  width: 20px;
  display: inline;
}


 .image-metadata form.button_to{
   display: inline;
 }

 .image-metadata form.like-frm{
   display: inline;
 }

 .image-metadata form.like-frm button {
   border: none;
   background-color: transparent;
   padding: 0;
   margin: 0;
 }

.image-metadata form.like-frm button:hover {
  cursor: pointer;
  color: orange;
}

.image-metadata form.like-frm button i:hover {
  color: orange;
}

 .upvote-btn i{
   margin-right: -5px;
 }